[buildout]

allow-picked-versions = true
show-picked-versions = true

parts =
    instance
    zopepy
    omelette


extends =
    https://dist.plone.org/release/6.2.2/versions.cfg
    https://dist.plone.org/release/6.2.2/versions-ecosystem.cfg
    https://dist.plone.org/release/6.2.2/versions-extra.cfg
    sources.cfg
    versions.cfg

find-links +=
    https://eggs.imio.be/find-links/common/
    https://eggs.imio.be/find-links/plusimio/

versions = versions

extensions =
    mr.developer

[instance]
recipe = plone.recipe.zope2instance
initialization =
  # ofs (required by plone.observability) pulls in the ancient PyPI
  # 'argparse' backport package, which shadows the Python 3.9+ stdlib
  # argparse module (missing BooleanOptionalAction) since its egg path
  # is inserted before stdlib on sys.path. Strip it back out.
  sys.path = [p for p in sys.path if "/argparse-" not in p]
user = admin:admin
http-address = 8081
zserver-threads = 2
debug-mode = off
verbose-security = off
zope-conf-additional =
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
environment-vars =
  zope_i18n_compile_mo_files true
  TZ Europe/Brussels
# plone.observability WSGI filters, wired into the pipeline (PasteDeploy resolves
# the inline egg: filters). healthserver starts the health-probe server on a
# separate port (PLONE_OBSERVABILITY_HEALTH_PORT, default 8081) in a background
# thread; observability populates request metrics for the @@metrics endpoint.
pipeline =
    egg:plone.observability#healthserver
    egg:plone.observability#observability
    translogger
    egg:Zope#httpexceptions
    zope

eggs =
    Plone
    bibliotheca.policy
    collective.big.bang
    collective.preventactions
    collective.upgrade
    plone.observability

zcml =
    collective.preventactions
    bibliotheca.policy
    plone.observability

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    RelStorage
    psycopg2-binary
interpreter = zopepy
scripts = zopepy


[debug-products]
eggs =
    ipdb
    Products.PDBDebugMode
